// $backgroundColor: ;
$fontColor: black;


// .clockbox{
//   width: 700px;
//   height: 500px;
    
//     border: 5px solid gray;
    
//     background-color: blue;
// }


#clock{
  text-align: center;
  font-size: 200px;
  vertical-align: middle;
  margin: none;
  position: absolute;
  width: 100%;
  height: 100%;
  // top: 30px;
  font-family:'Caveat Brush', cursive;
  line-height: 300%;
  // font-stretch: 


}